

/* main css module */
html {
  scrollbar-gutter: stable;
  background-color: var(--surface-background);
}

body {
  background-color: var(--surface-background);
  color: var(--text-primary);
  font-family: var(--ff-primary);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  transition:
    background-color var(--transition-global),
    color var(--transition-global);
}
